# Weryfikacja lat wydania

Rok na karcie = rok **pierwszego oficjalnego wydania nagrania** (singiel lub album – co było wcześniej).

Źródła sprawdzane automatycznie (październik 2026):

- [MusicBrainz](https://musicbrainz.org/) – otwarta, redagowana przez społeczność baza danych muzycznych; użyto najwcześniejszej daty `first-release-date` nagrań danego wykonawcy o danym tytule,
- Wikipedia (polska i angielska) – pole „wydany”/„released” w infoboksie artykułu o utworze oraz albumu, z którego pochodzi.

Uwaga: żadne z tych źródeł nie jest źródłem uniwersyteckim. Nie znalazłem akademickiej bazy dat wydań piosenek dostępnej publicznie przez API – dlatego wymagana jest zgodność dwóch niezależnych źródeł.

Poziomy:

- **v2** – oba źródła zgodne albo rozbieżność wyjaśniona (np. wcześniejsza data w MusicBrainz dotyczy bootlegu, dema lub błędnie dopasowanego nagrania). Domyślnie w grze.
- **v1** – tylko jedno źródło podaje rok wydania pierwotnego (drugie nie ma danych albo ma tylko późniejsze reedycje). W grze tylko po zaznaczeniu opcji w ustawieniach.

## Poziom v2 (151 utworów)

| Wykonawca | Tytuł | Rok | Uwagi |
|---|---|---|---|
| Elvis Presley | Jailhouse Rock | 1957 | MusicBrainz = Wikipedia; [en.wikipedia: Jailhouse Rock (song)](https://en.wikipedia.org/wiki/Jailhouse_Rock_(song)) |
| Chuck Berry | Johnny B. Goode | 1958 | MusicBrainz = Wikipedia; [en.wikipedia: Johnny B. Goode](https://en.wikipedia.org/wiki/Johnny_B._Goode) |
| Ray Charles | Hit the Road Jack | 1961 | MusicBrainz = Wikipedia; [en.wikipedia: Hit the Road Jack](https://en.wikipedia.org/wiki/Hit_the_Road_Jack) |
| The Beatles | She Loves You | 1963 | MusicBrainz = Wikipedia; [en.wikipedia: She Loves You](https://en.wikipedia.org/wiki/She_Loves_You) |
| The Animals | The House of the Rising Sun | 1964 | MusicBrainz = Wikipedia; [en.wikipedia: The House of the Rising Sun](https://en.wikipedia.org/wiki/The_House_of_the_Rising_Sun) |
| The Kinks | You Really Got Me | 1964 | MusicBrainz = Wikipedia; [en.wikipedia: You Really Got Me](https://en.wikipedia.org/wiki/You_Really_Got_Me) |
| The Beatles | Yesterday | 1965 | MusicBrainz = Wikipedia; [en.wikipedia: Yesterday (song)](https://en.wikipedia.org/wiki/Yesterday_(song)) |
| The Rolling Stones | (I Can't Get No) Satisfaction | 1965 | MusicBrainz = Wikipedia; [en.wikipedia: (I Can't Get No) Satisfaction](https://en.wikipedia.org/wiki/(I_Can't_Get_No)_Satisfaction) |
| The Rolling Stones | Paint It Black | 1966 | MusicBrainz = Wikipedia; [en.wikipedia: Paint It Black](https://en.wikipedia.org/wiki/Paint_It_Black) |
| The Beach Boys | Good Vibrations | 1966 | MusicBrainz = Wikipedia; [en.wikipedia: Good Vibrations](https://en.wikipedia.org/wiki/Good_Vibrations) |
| Aretha Franklin | Respect | 1967 | MusicBrainz = Wikipedia; [en.wikipedia: Respect (Aretha Franklin recording)](https://en.wikipedia.org/wiki/Respect_(Aretha_Franklin_recording)) |
| The Doors | Light My Fire | 1967 | MusicBrainz = Wikipedia; [en.wikipedia: Light My Fire](https://en.wikipedia.org/wiki/Light_My_Fire) |
| The Beatles | Hey Jude | 1968 | MusicBrainz = Wikipedia; [en.wikipedia: Hey Jude](https://en.wikipedia.org/wiki/Hey_Jude) |
| Frank Sinatra | My Way | 1969 | singiel i album 1969 (Wikipedia); MB 1968 = inny utwór („My Way of Life”); [en.wikipedia: My Way](https://en.wikipedia.org/wiki/My_Way) |
| The Beatles | Let It Be | 1970 | MusicBrainz 1969 = bootleg „Kum Back”; oficjalny singiel i album 1970 (Wikipedia, MB); [en.wikipedia: Let It Be (song)](https://en.wikipedia.org/wiki/Let_It_Be_(song)) |
| John Lennon | Imagine | 1971 | MusicBrainz = Wikipedia; [en.wikipedia: Imagine (song)](https://en.wikipedia.org/wiki/Imagine_(song)) |
| Marvin Gaye | What's Going On | 1971 | MusicBrainz = Wikipedia; [en.wikipedia: What's Going On (song)](https://en.wikipedia.org/wiki/What's_Going_On_(song)) |
| Elton John | Rocket Man | 1972 | MusicBrainz = Wikipedia; [en.wikipedia: Rocket Man (song)](https://en.wikipedia.org/wiki/Rocket_Man_(song)) |
| Deep Purple | Smoke on the Water | 1972 | MusicBrainz = Wikipedia; [en.wikipedia: Smoke on the Water](https://en.wikipedia.org/wiki/Smoke_on_the_Water) |
| ABBA | Waterloo | 1974 | MusicBrainz = Wikipedia; [en.wikipedia: Waterloo (song)](https://en.wikipedia.org/wiki/Waterloo_(song)) |
| Queen | Bohemian Rhapsody | 1975 | MusicBrainz = Wikipedia; [en.wikipedia: Bohemian Rhapsody](https://en.wikipedia.org/wiki/Bohemian_Rhapsody) |
| ABBA | Dancing Queen | 1976 | MusicBrainz = Wikipedia; [en.wikipedia: Dancing Queen](https://en.wikipedia.org/wiki/Dancing_Queen) |
| Eagles | Hotel California | 1976 | MusicBrainz = Wikipedia; [en.wikipedia: Hotel California](https://en.wikipedia.org/wiki/Hotel_California) |
| Bee Gees | Stayin' Alive | 1977 | MusicBrainz = Wikipedia; [en.wikipedia: Stayin' Alive](https://en.wikipedia.org/wiki/Stayin'_Alive) |
| Fleetwood Mac | Dreams | 1977 | MusicBrainz = Wikipedia; [en.wikipedia: Dreams (Fleetwood Mac song)](https://en.wikipedia.org/wiki/Dreams_(Fleetwood_Mac_song)) |
| David Bowie | Heroes | 1977 | MusicBrainz = Wikipedia; [en.wikipedia: "Heroes" (David Bowie song)](https://en.wikipedia.org/wiki/"Heroes"_(David_Bowie_song)) |
| Donna Summer | I Feel Love | 1977 | MusicBrainz = Wikipedia; [en.wikipedia: I Feel Love](https://en.wikipedia.org/wiki/I_Feel_Love) |
| Village People | Y.M.C.A. | 1978 | MusicBrainz = Wikipedia; [en.wikipedia: Y.M.C.A. (song)](https://en.wikipedia.org/wiki/Y.M.C.A._(song)) |
| Earth, Wind & Fire | September | 1978 | MusicBrainz = Wikipedia; [en.wikipedia: September (song)](https://en.wikipedia.org/wiki/September_(song)) |
| Boney M. | Rasputin | 1978 | MusicBrainz = Wikipedia; [en.wikipedia: Rasputin (song)](https://en.wikipedia.org/wiki/Rasputin_(song)) |
| Blondie | Heart of Glass | 1978 | MusicBrainz = Wikipedia; [en.wikipedia: Heart of Glass (song)](https://en.wikipedia.org/wiki/Heart_of_Glass_(song)) |
| Dire Straits | Sultans of Swing | 1978 | MusicBrainz = Wikipedia; [en.wikipedia: Sultans of Swing](https://en.wikipedia.org/wiki/Sultans_of_Swing) |
| AC/DC | Highway to Hell | 1979 | MusicBrainz = Wikipedia; [en.wikipedia: Highway to Hell (song)](https://en.wikipedia.org/wiki/Highway_to_Hell_(song)) |
| Pink Floyd | Another Brick in the Wall, Part 2 | 1979 | MusicBrainz = Wikipedia; [en.wikipedia: Another Brick in the Wall](https://en.wikipedia.org/wiki/Another_Brick_in_the_Wall) |
| Bob Marley & The Wailers | Could You Be Loved | 1980 | MusicBrainz 1979 = taśma demo; oficjalne wydanie 1980; [en.wikipedia: Could You Be Loved](https://en.wikipedia.org/wiki/Could_You_Be_Loved) |
| Kim Wilde | Kids in America | 1981 | MusicBrainz = Wikipedia; [en.wikipedia: Kids in America](https://en.wikipedia.org/wiki/Kids_in_America) |
| Survivor | Eye of the Tiger | 1982 | MusicBrainz = Wikipedia; [en.wikipedia: Eye of the Tiger](https://en.wikipedia.org/wiki/Eye_of_the_Tiger) |
| Toto | Africa | 1982 | MusicBrainz = Wikipedia; [en.wikipedia: Africa (song)](https://en.wikipedia.org/wiki/Africa_(song)) |
| Michael Jackson | Billie Jean | 1982 | album Thriller 1982 (Wikipedia); MB 1978 = błędnie dopasowane nagranie; [en.wikipedia: Billie Jean](https://en.wikipedia.org/wiki/Billie_Jean) |
| Dexys Midnight Runners | Come On Eileen | 1982 | MusicBrainz = Wikipedia; [en.wikipedia: Come On Eileen](https://en.wikipedia.org/wiki/Come_On_Eileen) |
| Eurythmics | Sweet Dreams (Are Made of This) | 1983 | MusicBrainz 1982 = singiel promocyjny (US); oficjalne wydanie singla i albumu 1983; [en.wikipedia: Sweet Dreams (Are Made of This)](https://en.wikipedia.org/wiki/Sweet_Dreams_(Are_Made_of_This)) |
| The Police | Every Breath You Take | 1983 | MusicBrainz = Wikipedia; [en.wikipedia: Every Breath You Take](https://en.wikipedia.org/wiki/Every_Breath_You_Take) |
| Cyndi Lauper | Girls Just Want to Have Fun | 1983 | MusicBrainz = Wikipedia; [en.wikipedia: Girls Just Want to Have Fun](https://en.wikipedia.org/wiki/Girls_Just_Want_to_Have_Fun) |
| Bonnie Tyler | Total Eclipse of the Heart | 1983 | MusicBrainz = Wikipedia; [en.wikipedia: Total Eclipse of the Heart](https://en.wikipedia.org/wiki/Total_Eclipse_of_the_Heart) |
| Nena | 99 Luftballons | 1983 | MusicBrainz = Wikipedia; [en.wikipedia: 99 Luftballons](https://en.wikipedia.org/wiki/99_Luftballons) |
| Madonna | Like a Virgin | 1984 | MusicBrainz = Wikipedia; [en.wikipedia: Like a Virgin (song)](https://en.wikipedia.org/wiki/Like_a_Virgin_(song)) |
| Modern Talking | You're My Heart, You're My Soul | 1984 | MusicBrainz = Wikipedia; [en.wikipedia: You're My Heart, You're My Soul](https://en.wikipedia.org/wiki/You're_My_Heart,_You're_My_Soul) |
| Bryan Adams | Summer of '69 | 1984 | MusicBrainz = Wikipedia; [en.wikipedia: Summer of '69](https://en.wikipedia.org/wiki/Summer_of_'69) |
| a-ha | Take On Me | 1984 | MusicBrainz = Wikipedia; [en.wikipedia: Take On Me](https://en.wikipedia.org/wiki/Take_On_Me) |
| Tears for Fears | Everybody Wants to Rule the World | 1985 | MusicBrainz = Wikipedia; [en.wikipedia: Everybody Wants to Rule the World](https://en.wikipedia.org/wiki/Everybody_Wants_to_Rule_the_World) |
| Kate Bush | Running Up That Hill | 1985 | MusicBrainz = Wikipedia; [en.wikipedia: Running Up That Hill](https://en.wikipedia.org/wiki/Running_Up_That_Hill) |
| Falco | Rock Me Amadeus | 1985 | MusicBrainz = Wikipedia; [en.wikipedia: Rock Me Amadeus](https://en.wikipedia.org/wiki/Rock_Me_Amadeus) |
| Simple Minds | Don't You (Forget About Me) | 1985 | MusicBrainz = Wikipedia; [en.wikipedia: Don't You (Forget About Me)](https://en.wikipedia.org/wiki/Don't_You_(Forget_About_Me)) |
| Europe | The Final Countdown | 1986 | MusicBrainz = Wikipedia; [en.wikipedia: The Final Countdown (song)](https://en.wikipedia.org/wiki/The_Final_Countdown_(song)) |
| Bon Jovi | Livin' on a Prayer | 1986 | MusicBrainz = Wikipedia; [en.wikipedia: Livin' on a Prayer](https://en.wikipedia.org/wiki/Livin'_on_a_Prayer) |
| Whitney Houston | I Wanna Dance with Somebody (Who Loves Me) | 1987 | MusicBrainz = Wikipedia; [en.wikipedia: I Wanna Dance with Somebody (Who Loves Me)](https://en.wikipedia.org/wiki/I_Wanna_Dance_with_Somebody_(Who_Loves_Me)) |
| Rick Astley | Never Gonna Give You Up | 1987 | MusicBrainz = Wikipedia; [en.wikipedia: Never Gonna Give You Up](https://en.wikipedia.org/wiki/Never_Gonna_Give_You_Up) |
| Guns N' Roses | Sweet Child o' Mine | 1987 | MusicBrainz = Wikipedia; [en.wikipedia: Sweet Child o' Mine](https://en.wikipedia.org/wiki/Sweet_Child_o'_Mine) |
| U2 | With or Without You | 1987 | MusicBrainz = Wikipedia; [en.wikipedia: With or Without You](https://en.wikipedia.org/wiki/With_or_Without_You) |
| Roxette | The Look | 1988 | MusicBrainz = Wikipedia; [en.wikipedia: The Look](https://en.wikipedia.org/wiki/The_Look) |
| Depeche Mode | Enjoy the Silence | 1990 | singiel i album Violator 1990 (Wikipedia); MB 1985 = błędne dopasowanie; [en.wikipedia: Enjoy the Silence](https://en.wikipedia.org/wiki/Enjoy_the_Silence) |
| Scorpions | Wind of Change | 1990 | MusicBrainz = Wikipedia; [en.wikipedia: Wind of Change (Scorpions song)](https://en.wikipedia.org/wiki/Wind_of_Change_(Scorpions_song)) |
| Nirvana | Smells Like Teen Spirit | 1991 | MusicBrainz = Wikipedia; [en.wikipedia: Smells Like Teen Spirit](https://en.wikipedia.org/wiki/Smells_Like_Teen_Spirit) |
| Metallica | Nothing Else Matters | 1991 | album Metallica 1991 (Wikipedia); singiel 1992; [en.wikipedia: Nothing Else Matters](https://en.wikipedia.org/wiki/Nothing_Else_Matters) |
| R.E.M. | Losing My Religion | 1991 | MusicBrainz = Wikipedia; [en.wikipedia: Losing My Religion](https://en.wikipedia.org/wiki/Losing_My_Religion) |
| Whitney Houston | I Will Always Love You | 1992 | MusicBrainz = Wikipedia; [en.wikipedia: I Will Always Love You (Whitney Houston recording)](https://en.wikipedia.org/wiki/I_Will_Always_Love_You_(Whitney_Houston_recording)) |
| Ace of Base | All That She Wants | 1992 | MusicBrainz = Wikipedia; [en.wikipedia: All That She Wants](https://en.wikipedia.org/wiki/All_That_She_Wants) |
| 4 Non Blondes | What's Up? | 1992 | MusicBrainz = Wikipedia; [en.wikipedia: What's Up? (4 Non Blondes song)](https://en.wikipedia.org/wiki/What's_Up?_(4_Non_Blondes_song)) |
| Mariah Carey | All I Want for Christmas Is You | 1994 | MusicBrainz = Wikipedia; [en.wikipedia: All I Want for Christmas Is You](https://en.wikipedia.org/wiki/All_I_Want_for_Christmas_Is_You) |
| Oasis | Wonderwall | 1995 | MusicBrainz = Wikipedia; [en.wikipedia: Wonderwall](https://en.wikipedia.org/wiki/Wonderwall) |
| Coolio | Gangsta's Paradise | 1995 | MusicBrainz = Wikipedia; [en.wikipedia: Gangsta's Paradise](https://en.wikipedia.org/wiki/Gangsta's_Paradise) |
| Alanis Morissette | Ironic | 1995 | MusicBrainz = Wikipedia; [en.wikipedia: Ironic (song)](https://en.wikipedia.org/wiki/Ironic_(song)) |
| Spice Girls | Wannabe | 1996 | MusicBrainz = Wikipedia; [en.wikipedia: Wannabe](https://en.wikipedia.org/wiki/Wannabe) |
| Gala | Freed from Desire | 1996 | MusicBrainz = Wikipedia; [en.wikipedia: Freed from Desire](https://en.wikipedia.org/wiki/Freed_from_Desire) |
| Celine Dion | My Heart Will Go On | 1997 | singiel i album 1997 (Wikipedia); MB 1993 = inne nagranie (live); [en.wikipedia: My Heart Will Go On](https://en.wikipedia.org/wiki/My_Heart_Will_Go_On) |
| Robbie Williams | Angels | 1997 | MusicBrainz = Wikipedia; [en.wikipedia: Angels (Robbie Williams song)](https://en.wikipedia.org/wiki/Angels_(Robbie_Williams_song)) |
| Cher | Believe | 1998 | MusicBrainz = Wikipedia; [en.wikipedia: Believe (Cher song)](https://en.wikipedia.org/wiki/Believe_(Cher_song)) |
| Britney Spears | ...Baby One More Time | 1998 | MusicBrainz = Wikipedia; [en.wikipedia: ...Baby One More Time](https://en.wikipedia.org/wiki/...Baby_One_More_Time) |
| Eiffel 65 | Blue (Da Ba Dee) | 1998 | MusicBrainz = Wikipedia; [en.wikipedia: Blue (Da Ba Dee)](https://en.wikipedia.org/wiki/Blue_(Da_Ba_Dee)) |
| Backstreet Boys | I Want It That Way | 1999 | MusicBrainz = Wikipedia; [en.wikipedia: I Want It That Way](https://en.wikipedia.org/wiki/I_Want_It_That_Way) |
| Lou Bega | Mambo No. 5 (A Little Bit of...) | 1999 | wersja Lou Begi: album 1999 (Wikipedia) = MB 1999; oryginał Péreza Prado z 1950; [en.wikipedia: Mambo No. 5](https://en.wikipedia.org/wiki/Mambo_No._5) |
| Red Hot Chili Peppers | Californication | 1999 | MusicBrainz = Wikipedia; [en.wikipedia: Californication (song)](https://en.wikipedia.org/wiki/Californication_(song)) |
| Linkin Park | In the End | 2000 | MusicBrainz = Wikipedia; [en.wikipedia: In the End](https://en.wikipedia.org/wiki/In_the_End) |
| Kylie Minogue | Can't Get You Out of My Head | 2001 | MusicBrainz = Wikipedia; [en.wikipedia: Can't Get You Out of My Head](https://en.wikipedia.org/wiki/Can't_Get_You_Out_of_My_Head) |
| Shakira | Whenever, Wherever | 2001 | MusicBrainz = Wikipedia; [en.wikipedia: Whenever, Wherever](https://en.wikipedia.org/wiki/Whenever,_Wherever) |
| Eminem | Lose Yourself | 2002 | MusicBrainz = Wikipedia; [en.wikipedia: Lose Yourself](https://en.wikipedia.org/wiki/Lose_Yourself) |
| OutKast | Hey Ya! | 2003 | MusicBrainz = Wikipedia; [en.wikipedia: Hey Ya!](https://en.wikipedia.org/wiki/Hey_Ya!) |
| Beyoncé | Crazy in Love | 2003 | singiel i album 2003 (Wikipedia); MB 1999 = błędne dopasowanie; [en.wikipedia: Crazy in Love](https://en.wikipedia.org/wiki/Crazy_in_Love) |
| The Killers | Mr. Brightside | 2003 | MusicBrainz 2001 = promocyjne demo EP; oficjalny singiel 2003; [en.wikipedia: Mr. Brightside](https://en.wikipedia.org/wiki/Mr._Brightside) |
| Gnarls Barkley | Crazy | 2006 | MusicBrainz = Wikipedia; [en.wikipedia: Crazy (Gnarls Barkley song)](https://en.wikipedia.org/wiki/Crazy_(Gnarls_Barkley_song)) |
| Amy Winehouse | Rehab | 2006 | MusicBrainz = Wikipedia; [en.wikipedia: Rehab (Amy Winehouse song)](https://en.wikipedia.org/wiki/Rehab_(Amy_Winehouse_song)) |
| Rihanna | Umbrella | 2007 | MusicBrainz = Wikipedia; [en.wikipedia: Umbrella (song)](https://en.wikipedia.org/wiki/Umbrella_(song)) |
| Coldplay | Viva la Vida | 2008 | MusicBrainz = Wikipedia; [en.wikipedia: Viva la Vida](https://en.wikipedia.org/wiki/Viva_la_Vida) |
| Lady Gaga | Poker Face | 2008 | MusicBrainz = Wikipedia; [en.wikipedia: Poker Face (song)](https://en.wikipedia.org/wiki/Poker_Face_(song)) |
| The Black Eyed Peas | I Gotta Feeling | 2009 | Wikipedia: singiel i album The E.N.D. 2009; MB 2008 = pojedyncza składanka (prawdopodobnie błędna data); [en.wikipedia: I Gotta Feeling](https://en.wikipedia.org/wiki/I_Gotta_Feeling) |
| Stromae | Alors on danse | 2009 | MusicBrainz = Wikipedia; [en.wikipedia: Alors on danse](https://en.wikipedia.org/wiki/Alors_on_danse) |
| Adele | Rolling in the Deep | 2010 | MusicBrainz = Wikipedia; [en.wikipedia: Rolling in the Deep](https://en.wikipedia.org/wiki/Rolling_in_the_Deep) |
| Bruno Mars | Just the Way You Are | 2010 | MusicBrainz = Wikipedia; [en.wikipedia: Just the Way You Are (Bruno Mars song)](https://en.wikipedia.org/wiki/Just_the_Way_You_Are_(Bruno_Mars_song)) |
| Gotye | Somebody That I Used to Know | 2011 | MusicBrainz = Wikipedia; [en.wikipedia: Somebody That I Used to Know](https://en.wikipedia.org/wiki/Somebody_That_I_Used_to_Know) |
| Lana Del Rey | Video Games | 2011 | MusicBrainz = Wikipedia; [en.wikipedia: Video Games (Lana Del Rey song)](https://en.wikipedia.org/wiki/Video_Games_(Lana_Del_Rey_song)) |
| PSY | Gangnam Style | 2012 | MusicBrainz = Wikipedia; [en.wikipedia: Gangnam Style](https://en.wikipedia.org/wiki/Gangnam_Style) |
| Imagine Dragons | Radioactive | 2012 | MusicBrainz = Wikipedia; [en.wikipedia: Radioactive (Imagine Dragons song)](https://en.wikipedia.org/wiki/Radioactive_(Imagine_Dragons_song)) |
| Daft Punk | Get Lucky | 2013 | MusicBrainz = Wikipedia; [en.wikipedia: Get Lucky (Daft Punk song)](https://en.wikipedia.org/wiki/Get_Lucky_(Daft_Punk_song)) |
| Pharrell Williams | Happy | 2013 | singiel 2013 (Wikipedia); MB 2010 = inny utwór („Happy Gru”); [en.wikipedia: Happy (Pharrell Williams song)](https://en.wikipedia.org/wiki/Happy_(Pharrell_Williams_song)) |
| Avicii | Wake Me Up | 2013 | MusicBrainz = Wikipedia; [en.wikipedia: Wake Me Up (Avicii song)](https://en.wikipedia.org/wiki/Wake_Me_Up_(Avicii_song)) |
| Arctic Monkeys | Do I Wanna Know? | 2013 | MusicBrainz = Wikipedia; [en.wikipedia: Do I Wanna Know?](https://en.wikipedia.org/wiki/Do_I_Wanna_Know?) |
| Mark Ronson | Uptown Funk | 2014 | MusicBrainz = Wikipedia; [en.wikipedia: Uptown Funk](https://en.wikipedia.org/wiki/Uptown_Funk) |
| Taylor Swift | Shake It Off | 2014 | singiel i album 1989 z 2014 (Wikipedia); MB 2013 = błędnie datowany remiks; [en.wikipedia: Shake It Off](https://en.wikipedia.org/wiki/Shake_It_Off) |
| Sia | Chandelier | 2014 | MusicBrainz = Wikipedia; [en.wikipedia: Chandelier (song)](https://en.wikipedia.org/wiki/Chandelier_(song)) |
| Ed Sheeran | Shape of You | 2017 | singiel i album ÷ 2017 (Wikipedia); MB 2015 = błędnie datowany remiks; [en.wikipedia: Shape of You](https://en.wikipedia.org/wiki/Shape_of_You) |
| Luis Fonsi | Despacito | 2017 | MusicBrainz = Wikipedia; [en.wikipedia: Despacito](https://en.wikipedia.org/wiki/Despacito) |
| Lewis Capaldi | Someone You Loved | 2018 | MusicBrainz = Wikipedia; [en.wikipedia: Someone You Loved](https://en.wikipedia.org/wiki/Someone_You_Loved) |
| The Weeknd | Blinding Lights | 2019 | MusicBrainz = Wikipedia; [en.wikipedia: Blinding Lights](https://en.wikipedia.org/wiki/Blinding_Lights) |
| Tones and I | Dance Monkey | 2019 | MusicBrainz = Wikipedia; [en.wikipedia: Dance Monkey](https://en.wikipedia.org/wiki/Dance_Monkey) |
| Dua Lipa | Levitating | 2020 | MusicBrainz = Wikipedia; [en.wikipedia: Levitating (song)](https://en.wikipedia.org/wiki/Levitating_(song)) |
| Olivia Rodrigo | drivers license | 2021 | MusicBrainz = Wikipedia; [en.wikipedia: Drivers License (song)](https://en.wikipedia.org/wiki/Drivers_License_(song)) |
| Harry Styles | As It Was | 2022 | MusicBrainz = Wikipedia; [en.wikipedia: As It Was](https://en.wikipedia.org/wiki/As_It_Was) |
| Miley Cyrus | Flowers | 2023 | MusicBrainz = Wikipedia; [en.wikipedia: Flowers (Miley Cyrus song)](https://en.wikipedia.org/wiki/Flowers_(Miley_Cyrus_song)) |
| Czerwone Gitary | Biały krzyż | 1968 | MusicBrainz = Wikipedia; [pl.wikipedia: Biały krzyż (piosenka)](https://pl.wikipedia.org/wiki/Biały_krzyż_(piosenka)) |
| Skaldowie | Medytacje wiejskiego listonosza | 1969 | MusicBrainz = Wikipedia; [pl.wikipedia: Medytacje wiejskiego listonosza](https://pl.wikipedia.org/wiki/Medytacje_wiejskiego_listonosza) |
| Anna Jantar | Tyle słońca w całym mieście | 1974 | MusicBrainz = Wikipedia; [pl.wikipedia: Tyle słońca w całym mieście (singel)](https://pl.wikipedia.org/wiki/Tyle_słońca_w_całym_mieście_(singel)) |
| Perfect | Nie płacz Ewka | 1981 | MusicBrainz = Wikipedia; [pl.wikipedia: Nie płacz Ewka](https://pl.wikipedia.org/wiki/Nie_płacz_Ewka) |
| Perfect | Autobiografia | 1982 | MusicBrainz = Wikipedia; [pl.wikipedia: Autobiografia (piosenka)](https://pl.wikipedia.org/wiki/Autobiografia_(piosenka)) |
| Lady Pank | Mniej niż zero | 1983 | MusicBrainz = Wikipedia; [pl.wikipedia: Mniej niż zero (singel)](https://pl.wikipedia.org/wiki/Mniej_niż_zero_(singel)) |
| Urszula | Dmuchawce, latawce, wiatr | 1983 | MusicBrainz = Wikipedia; [pl.wikipedia: Dmuchawce, latawce, wiatr](https://pl.wikipedia.org/wiki/Dmuchawce,_latawce,_wiatr) |
| Kult | Arahja | 1988 | MusicBrainz = Wikipedia; [pl.wikipedia: Arahja](https://pl.wikipedia.org/wiki/Arahja) |
| Dżem | Wehikuł czasu | 1989 | MusicBrainz = Wikipedia; [pl.wikipedia: Wehikuł czasu (singel)](https://pl.wikipedia.org/wiki/Wehikuł_czasu_(singel)) |
| Wilki | Son of the Blue Sky | 1992 | MusicBrainz = Wikipedia; [pl.wikipedia: Son of the Blue Sky](https://pl.wikipedia.org/wiki/Son_of_the_Blue_Sky) |
| Hey | Moja i twoja nadzieja | 1993 | MusicBrainz = Wikipedia; [pl.wikipedia: Moja i twoja nadzieja](https://pl.wikipedia.org/wiki/Moja_i_twoja_nadzieja) |
| Edyta Górniak | To nie ja! | 1994 | MusicBrainz = Wikipedia; [pl.wikipedia: To nie ja!](https://pl.wikipedia.org/wiki/To_nie_ja!) |
| Budka Suflera | Takie tango | 1997 | MusicBrainz = Wikipedia; [pl.wikipedia: Takie tango](https://pl.wikipedia.org/wiki/Takie_tango) |
| Kult | Gdy nie ma dzieci | 1998 | MusicBrainz = Wikipedia; [pl.wikipedia: Gdy nie ma dzieci](https://pl.wikipedia.org/wiki/Gdy_nie_ma_dzieci) |
| Kayah & Goran Bregović | Prawy do lewego | 1999 | MB 1999 = Wikipedia (singel Kayah i Bregovicia) 1999 |
| Myslovitz | Długość dźwięku samotności | 1999 | MusicBrainz = Wikipedia; [pl.wikipedia: Długość dźwięku samotności](https://pl.wikipedia.org/wiki/Długość_dźwięku_samotności) |
| Brathanki | Czerwone korale | 2000 | MusicBrainz = Wikipedia; [pl.wikipedia: Czerwone korale](https://pl.wikipedia.org/wiki/Czerwone_korale) |
| Ich Troje | Powiedz | 2001 | MusicBrainz = Wikipedia; [pl.wikipedia: Powiedz (singel)](https://pl.wikipedia.org/wiki/Powiedz_(singel)) |
| Wilki | Baśka | 2002 | MusicBrainz = Wikipedia; [pl.wikipedia: Baśka (singel)](https://pl.wikipedia.org/wiki/Baśka_(singel)) |
| Kayah | Testosteron | 2003 | MusicBrainz = Wikipedia; [pl.wikipedia: Testosteron (singel)](https://pl.wikipedia.org/wiki/Testosteron_(singel)) |
| Feel | A gdy jest już ciemno | 2007 | MusicBrainz = Wikipedia; [pl.wikipedia: A gdy jest już ciemno](https://pl.wikipedia.org/wiki/A_gdy_jest_już_ciemno) |
| Kasia Kowalska | Spowiedź | 2008 | MusicBrainz = Wikipedia; [pl.wikipedia: Spowiedź (singel)](https://pl.wikipedia.org/wiki/Spowiedź_(singel)) |
| Zakopower | Boso | 2011 | MusicBrainz = Wikipedia; [pl.wikipedia: Boso (singel)](https://pl.wikipedia.org/wiki/Boso_(singel)) |
| Sylwia Grzeszczak | Małe rzeczy | 2011 | MusicBrainz = Wikipedia; [pl.wikipedia: Małe rzeczy (singel)](https://pl.wikipedia.org/wiki/Małe_rzeczy_(singel)) |
| Enej | Skrzydlate ręce | 2012 | MusicBrainz = Wikipedia; [pl.wikipedia: Skrzydlate ręce](https://pl.wikipedia.org/wiki/Skrzydlate_ręce) |
| Dawid Podsiadło | Trójkąty i kwadraty | 2013 | MusicBrainz = Wikipedia; [pl.wikipedia: Trójkąty i kwadraty](https://pl.wikipedia.org/wiki/Trójkąty_i_kwadraty) |
| Margaret | Thank You Very Much | 2013 | MusicBrainz = Wikipedia; [pl.wikipedia: Thank You Very Much](https://pl.wikipedia.org/wiki/Thank_You_Very_Much) |
| Daria Zawiałow | Malinowy chruśniak | 2016 | singiel 15.03.2016 (Wikipedia); MB ma tylko album z 2017; [pl.wikipedia: Malinowy chruśniak](https://pl.wikipedia.org/wiki/Malinowy_chruśniak) |
| Dawid Podsiadło | Małomiasteczkowy | 2018 | MusicBrainz = Wikipedia; [pl.wikipedia: Małomiasteczkowy](https://pl.wikipedia.org/wiki/Małomiasteczkowy) |
| sanah | Szampan | 2020 | MusicBrainz = Wikipedia; [pl.wikipedia: Szampan (singel)](https://pl.wikipedia.org/wiki/Szampan_(singel)) |
| sanah | Melodia | 2020 | MusicBrainz = Wikipedia; [pl.wikipedia: Melodia (singel)](https://pl.wikipedia.org/wiki/Melodia_(singel)) |
| Sanah | Kolońska i szlugi | 2021 | MusicBrainz = Wikipedia; [pl.wikipedia: Kolońska i szlugi](https://pl.wikipedia.org/wiki/Kolońska_i_szlugi) |
| sanah & Dawid Podsiadło | Ostatnia nadzieja | 2022 | MusicBrainz = Wikipedia; [pl.wikipedia: Ostatnia nadzieja](https://pl.wikipedia.org/wiki/Ostatnia_nadzieja) |

## Poziom v1 (25 utworów)

| Wykonawca | Tytuł | Rok | Uwagi |
|---|---|---|---|
| Ben E. King | Stand by Me | 1961 | Wikipedia: singiel 1961; MB tylko album z 1962; [en.wikipedia: Stand by Me (Ben E. King song)](https://en.wikipedia.org/wiki/Stand_by_Me_(Ben_E._King_song)) |
| Bob Dylan | Like a Rolling Stone | 1965 | Wikipedia: 20.07.1965; MB tylko późniejsze wydania; [en.wikipedia: Like a Rolling Stone](https://en.wikipedia.org/wiki/Like_a_Rolling_Stone) |
| Nancy Sinatra | These Boots Are Made for Walkin' | 1965 | Wikipedia: 16.12.1965; MB 1966; [en.wikipedia: These Boots Are Made for Walkin'](https://en.wikipedia.org/wiki/These_Boots_Are_Made_for_Walkin') |
| Louis Armstrong | What a Wonderful World | 1967 | Wikipedia: wrzesień 1967; MB tylko późniejsze wydania; [en.wikipedia: What a Wonderful World](https://en.wikipedia.org/wiki/What_a_Wonderful_World) |
| Led Zeppelin | Stairway to Heaven | 1971 | Wikipedia: album Led Zeppelin IV 8.11.1971; MB tylko późniejsze wydania; [en.wikipedia: Stairway to Heaven](https://en.wikipedia.org/wiki/Stairway_to_Heaven) |
| Gloria Gaynor | I Will Survive | 1978 | Wikipedia: 23.10.1978; MB tylko późniejsze wydania; [en.wikipedia: I Will Survive](https://en.wikipedia.org/wiki/I_Will_Survive) |
| Kool & the Gang | Celebration | 1980 | tylko MusicBrainz |
| Prince | Purple Rain | 1984 | Wikipedia: 26.09.1984; MB tylko późniejsze wydania; [en.wikipedia: Purple Rain (song)](https://en.wikipedia.org/wiki/Purple_Rain_(song)) |
| Tina Turner | The Best | 1989 | MB: 1989 (wersja Tiny Turner); artykuł w Wikipedii opisuje też oryginał Bonnie Tyler z 1988; [en.wikipedia: The Best (song)](https://en.wikipedia.org/wiki/The_Best_(song)) |
| Sinéad O'Connor | Nothing Compares 2 U | 1990 | MB: 1990 (wersja Sinéad O'Connor); oryginał The Family z 1985; [en.wikipedia: Nothing Compares 2 U](https://en.wikipedia.org/wiki/Nothing_Compares_2_U) |
| Billie Eilish | bad guy | 2019 | tylko MusicBrainz |
| Czesław Niemen | Dziwny jest ten świat | 1967 | Wikipedia: 10.07.1967 (singel i album); MB ma tylko późniejsze reedycje; [pl.wikipedia: Dziwny jest ten świat (utwór muzyczny)](https://pl.wikipedia.org/wiki/Dziwny_jest_ten_świat_(utwór_muzyczny)) |
| Krzysztof Krawczyk | Parostatek | 1976 | tylko MusicBrainz |
| Maanam | Cykady na Cykladach | 1981 | Wikipedia: 1981; MB tylko późniejsze wydania; [pl.wikipedia: Cykady na Cykladach](https://pl.wikipedia.org/wiki/Cykady_na_Cykladach) |
| Lombard | Przeżyj to sam | 1982 | Wikipedia: 1982; MB tylko album koncertowy z 1983; [pl.wikipedia: Przeżyj to sam](https://pl.wikipedia.org/wiki/Przeżyj_to_sam) |
| Maanam | Kocham cię, kochanie moje | 1983 | Wikipedia: kwiecień 1983; MB tylko późniejsze wydania; [pl.wikipedia: Kocham cię, kochanie moje](https://pl.wikipedia.org/wiki/Kocham_cię,_kochanie_moje) |
| Kult | Polska | 1988 | Wikipedia: 1988; MB tylko późniejsze wydania; [pl.wikipedia: Polska (piosenka)](https://pl.wikipedia.org/wiki/Polska_(piosenka)) |
| Hey | Teksański | 1993 | tylko MusicBrainz |
| Krzysztof Krawczyk & Goran Bregović | Mój przyjacielu | 1999 | tylko MusicBrainz |
| Golec uOrkiestra | Ściernisco | 2000 | Wikipedia (singel „Ściernisco”): 2000; MB tylko remiks z 2019 |
| Paktofonika | Jestem Bogiem | 2000 | tylko MusicBrainz |
| Ewa Farna | Cicho | 2009 | tylko MusicBrainz |
| Brodka | Granda | 2010 | tylko MusicBrainz |
| Kortez | Zostań | 2015 | tylko MusicBrainz |
| Kwiat Jabłoni | Dziś późno pójdę spać | 2018 | tylko MusicBrainz |

## Odrzucone (25)

| Wykonawca | Tytuł | Powód | MusicBrainz | Wikipedia |
|---|---|---|---|---|
| Czerwone Gitary | Nie spoczniemy | brak dwóch zgodnych źródeł / sprzeczne dane | 1991 | – |
| Trubadurzy | Znamy się tylko z widzenia | brak dwóch zgodnych źródeł / sprzeczne dane | 1993 | – |
| Maryla Rodowicz | Małgośka | brak oryginalnego nagrania w iTunes (tylko koncertowe/remiksy lub brak) | 1974 | 1973 (album: 1974) |
| Zbigniew Wodecki | Zacznij od Bacha | brak dwóch zgodnych źródeł / sprzeczne dane | 1994 | – |
| Budka Suflera | Jolka, Jolka pamiętasz | brak oryginalnego nagrania w iTunes (tylko koncertowe/remiksy lub brak) | 1984 | 1982 (album: 1984) |
| Republika | Biała flaga | brak dwóch zgodnych źródeł / sprzeczne dane | 1981 | 1982 (album: 1993) |
| Lady Pank | Zawsze tam gdzie ty | brak dwóch zgodnych źródeł / sprzeczne dane | 1990 | – |
| Bajm | Co mi panie dasz | brak dwóch zgodnych źródeł / sprzeczne dane | 1982 | – |
| Kombi | Słodkiego miłego życia | brak dwóch zgodnych źródeł / sprzeczne dane | 1983 | 1984 (album: 1984) |
| Dżem | Whisky | brak dwóch zgodnych źródeł / sprzeczne dane | 1985 | – |
| Wanda i Banda | Hi-Fi Superstar | brak dwóch zgodnych źródeł / sprzeczne dane | – | – |
| Urszula | Konik na biegunach | brak dwóch zgodnych źródeł / sprzeczne dane | 1996 | – |
| Elektryczne Gitary | Co powie Ryba | brak dwóch zgodnych źródeł / sprzeczne dane | 1999 | – |
| Varius Manx | Orła cień | brak oryginalnego nagrania w iTunes (tylko koncertowe/remiksy lub brak) | 1996 | 1996 (album: 1996) |
| T.Love | King | brak dwóch zgodnych źródeł / sprzeczne dane | 1992 | – |
| Łzy | Agnieszka już dawno tutaj nie mieszka | brak dwóch zgodnych źródeł / sprzeczne dane | – | – |
| Myslovitz | Chciałbym umrzeć z miłości | brak oryginalnego nagrania w iTunes (tylko koncertowe/remiksy lub brak) | 2002 | 2003 (album: 2002) |
| Mrozu | Miliony monet | brak dwóch zgodnych źródeł / sprzeczne dane | 2009 | – |
| Taco Hemingway | Deszcz na betonie | brak oryginalnego nagrania w iTunes (tylko koncertowe/remiksy lub brak) | 2016 | 2016 (album: 2016) |
| Mata | Patointeligencja | brak oryginalnego nagrania w iTunes (tylko koncertowe/remiksy lub brak) | 2020 | 2019 (album: 2020) |
| Krzysztof Zalewski | Miłość, miłość | brak dwóch zgodnych źródeł / sprzeczne dane | 2016 | – |
| Seweryn Krajewski | Uciekaj moje serce | brak dwóch zgodnych źródeł / sprzeczne dane | 1994 | – |
| Doda | Nie daj się | brak dwóch zgodnych źródeł / sprzeczne dane | 2008 | 2008 (album: 2007) |
| Haddaway | What Is Love | brak dwóch zgodnych źródeł / sprzeczne dane | 1992 | 1993 (album: 1993) |
| Lorde | Royals | brak dwóch zgodnych źródeł / sprzeczne dane | 2012 | 2013 |
